<!doctype html>  
<head>  
    <title></title>  
    <script type='text/javascript' src='/jquery/dist/jquery.min.js'></script>
    <script type='text/javascript' src='/bootstrap/dist/js/bootstrap.min.js'></script>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" type="text/css" />
</head>  
<body>  
    {{{body}}}  
    <script src="/javascripts/index.js"></script>
</body>  
</html>  